/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}
.linear-grad2
{
   -fx-background-color: linear-gradient(to bottom right, #f43b47 0%, #453a94 100%);
}
.linear-grad3
{
	-fx-background-color:linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}


.texts
{ 
	-fx-background-color: #191026;
	-fx-background-radius: 30;
	-fx-border-radius:  30;
	-fx-border-color:linear-gradient(to right, #A868A0, #2D75E8);
	-fx-text-fill:white;	
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 30;
	-fx-prompt-text-fill:#A868A0;
}
.buttonlist{
	-fx-background-color: #191026;
	-fx-text-fill:white;	
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 15;
}
.content
{ 
	-fx-background-color: #191026;
	-fx-border-radius:  30;
	-fx-border-color:linear-gradient(to right, #A868A0, #2D75E8);
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 30 ;
	-fx-text-fill:pink;
}
.content2
{ 
	-fx-background-color: #191026;
	-fx-border-radius:  30;
	-fx-border-color: linear-gradient(to right, #A868A0, #2D75E8);
	-fx-border-color: linear-gradient(#e0c3fc 0%, #8ec5fc 100%);
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 30 ;
	-fx-text-fill:pink;
}
.content3
{ 
	-fx-background-color: #191026;
	-fx-border-radius:  30;
	-fx-border-color: linear-gradient(to right, #A868A0, #2D75E8);
	-fx-border-color: linear-gradient(#e0c3fc 0%, #8ec5fc 100%);
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 13 ;
	-fx-text-fill:white;
}
.settings
{ 
	-fx-background-color:linear-gradient(to right, #30cfd0 0%, #330867 100%);
	-fx-background-radius: 50;
	-fx-border-radius:  50;
	-fx-border-color: linear-gradient(#e0c3fc 0%, #8ec5fc 100%);
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 30 ;
	-fx-text-fill:pink;
}
.maillist
{ 
	-fx-background-color:  #191026;
	-fx-border-radius:  30;
	-fx-border-color:linear-gradient(to top, #00c6fb 0%, #005bea 100%);
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 30 ;
	-fx-text-fill:pink;
	-fx-hbar-policy : never;
}

.page
{
    -fx-background-color : #141124;
    -fx-background-radius :  10;
}
.page:hover
{
    -fx-background-color : #524A7B ;
}
.page:pressed
{
    -fx-background-color : #2F2B43 ;
}
.button-act{
	-fx-background-radius:50;
	-fx-background-color:#191026;
	-fx-border-color:linear-gradient(to right, #A868A0, #2D75E8);
	-fx-border-radius:50;
	-fx-border-width:3;
}
.button-act:hover{
	-fx-background-color: linear-gradient(to top, #cc208e 0%, #6713d2 100%); 
}
.button-act:pressed{
	-fx-background-color: #2F2B43 ;
}
.add-attach{
	-fx-background-color:#191026;
	-fx-border-color:linear-gradient(to top, #cc208e 0%, #6713d2 100%);
	-fx-border-radius:30;
	-fx-text-fill:white;
	-fx-background-radius:30;
	-fx-font-size:10;
}
.add-attach:hover{
	-fx-background-color: linear-gradient(to top, #cc208e 0%, #6713d2 100%); 
}
.add-attach:pressed{
	-fx-background-color: #2F2B43 ;
}
.htmlButton{
	-fx-background-color:  #191026;
	-fx-border-radius:  30;
	-fx-border-color:linear-gradient(to top, #00c6fb 0%, #005bea 100%);
	-fx-font-family: "Comic Sans MS Bold";
	-fx-font-size: 30 ;
	-fx-text-fill:white;
}
.htmlButton:hover{
	-fx-background-color: linear-gradient(to top, #cc208e 0%, #6713d2 100%); 
}
.htmlButton:pressed{
	-fx-background-color: #2F2B43 ;
}
